/* You can add global styles to this file, and also import other style files */
body, html, *{
    font-family: 'Roboto', sans-serif;
}

.text-center
{
    text-align: center;
}

.borderr
{
    border:1px solid #000;
}

.paddingless
{
    padding:0;
}

.yellow-button
{
    padding: 10px 55px 10px 55px !important; 
    letter-spacing: 1.1px; 
    font-size:4em; 
    height:80px;
    color:#f9f100; 
    background:none; 
    border:3px solid #f9f100;
    
}