<img class="bg-img" src="../assets/downtown.jpg"/>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top animated fadeInDown">
    <a class="navbar-brand" routerLink="/home"><img src="../assets/logo.png" width="50" height="30" class="d-inline-block align-top" /></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/events">Events</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/jobs">Jobs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/groups">Groups</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/challenges">Challenges</a>
            </li>
        </ul>
        <div class="form-inline my-2 my-lg-0">
         <a (click)="cp()" *ngIf="authService.isAdmin(user)" class="text-white"><span class="oi oi-cog"></span> Control Panel </a>
         <a (click)="logout()" class="text-white mx-4"><span class="oi oi-account-logout"></span> Logout</a>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>