<div class="modal fade" id="jobsModal" tabindex="-1" role="dialog" aria-labelledby="jobsModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <h6 class="text-center">{{user.first_name}}'s Completed Jobs</h6><br>
        <ul class="list-group bg-light">
            <li class="list-group-item"><span class="oi oi-project"></span> Website UI Layout, for <a href="#">Jacob</a></li>
        </ul>
      </div>
      <div class="modal-footer bg-dark">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Ok</button>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="phoneModal" role="dialog" aria-labelledby="phoneModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content text-center">
        <div class="modal-body">
          <h4><span class="ion-ios-telephone"></span> 614-419-3829</h4>
        </div>
        <div class="modal-footer bg-dark">
          <a class="btn btn-block text-white" href="tel:+16144193829">Call</a>
        </div>
      </div>
    </div>
</div>

<div class="loading" *ngIf="!userLoaded">
  <div class="animated bounceIn">
    <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>
  </div>
</div>


<div class="container" *ngIf="userLoaded">
  <div class="row">
    <div class="col col-12">
      <div class="banner animated slideInDown">
        <div class="overlay"></div>
        <img src="../../assets/downtown.jpg" alt="" class="banner-img">
        <div class="avatar mx-auto my-3 p-2">
            <img src="../../assets/downtown.jpg" />
        </div>
        <h3 class="username">{{user.first_name}} {{user.last_name}}</h3>
        <h4 class="user-title">Software Developer, UI/UX Specialist</h4>
        <hr class="w-50">
        <div class="d-flex justify-content-center p-3">
            <a href="" class="social-link"><span class="social-icon ion-social-linkedin"></span></a>
            <a href="" class="social-link"><span class="social-icon ion-social-facebook"></span></a>
            <a href="" class="social-link"><span class="social-icon ion-social-twitter"></span></a>
            <a href="" class="social-link"><span class="social-icon ion-social-instagram"></span></a>
            <a href="" class="social-link"><span class="social-icon ion-social-youtube"></span></a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 animated fadeInLeft">
      <div class="user-panel text-center position-sticky">
        <h3 class="username">{{user.first_name}} {{user.last_name}}</h3>
        <h4 class="user-title">Software Developer, UI/UX Specialist</h4>
        <hr>

        <p><span class="ion-person"></span> About Me</p>
        <br>
        <p class="text-left bio p-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
       
        <ul class="list-group bg-light">
          <a class="list-group-item list-group-item-action "><span class="oi oi-browser"></span> My Portfolio</a>
          <a  data-toggle="modal" data-target="#phoneModal"  class="list-group-item list-group-item-action"><span class="ion-ios-telephone"></span> Phone Number</a>
          <a href="#" class="list-group-item list-group-item-action">Edit Profile</a>
        </ul>
      </div>
    </div>
    <div class="col-md-9 animated slideInRight">
      <div class="row">
        <div class="col-md-1 	d-md-block d-sm-none" style="padding:0"> <!-- Small Vis. -->
            <div class="feed-avatar">
                <img src="../../assets/downtown.jpg" />
            </div>
        </div>
        <div class="col-md-11 post-body">
            <p class="post-caption">Nice piece of work by your truly!</p>
            <img class="post-attachment" src="../../assets/summer.png" class="img-fluid" />
        </div>
      </div>
      <div class="row my-5">
        <div class="col-md-1 d-sm-none d-md-block" style="padding:0">
            <div class="feed-avatar">
                <img src="../../assets/downtown.jpg" />
            </div>
        </div>
        <div class="col-md-11 post-body">
            <p class="post-caption">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <img class="post-attachment" src="../../assets/downtown.jpg" class="img-fluid" />
        </div>
      </div>
    </div>
  </div>
</div>