.user-panel
{
    background:rgba(255,255,255,0.8);
    padding:7px;
    border-bottom-left-radius:8px;
    border-bottom-right-radius:8px;
}

.username{
    font-size:1.3em;
    
}

.oi
{
    margin-right:5px;
}

.user-title
{
    font-size:0.9em;
    color:#333;
}

.list-group-item-action.active{
    background: #343a40;
    border:none;
}

.post-body{
    background:linear-gradient(to top, rgba(255,255,255,1), rgba(255,255,255,0.5));
    padding:12px;
    border-radius: 9px;
}
