<div class="banner">
  <div class="row align-items-center" style="height:100%;">
      <div class="col">
          <img src="../../assets/logo.png" width="60" height="30">
        </div>
  </div>
</div>
<div class="container">
  <div class="userPanel">
    <div class="row justify-content-md-center d-flex p-2">
      <div class="col-12">
        <h3>Hello, Dezmen Sykes</h3>
          <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Library</a></li>
                <li class="breadcrumb-item active" aria-current="page">Data</li>
              </ol>
          </nav>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">

    </div>
  </div>
</div>