.sidebar
{
    background:rgba(0,0,0,0.4);
    height:100%;
    padding:20px;
    border-radius:10px;
}

.name{
    color:#fff;
    font-size:18px;
}

.title
{
    font-size:17px;
    color:#ccc;
}

.banner
{
    background:rgba(0,0,0,0.6);
    padding:10px;
    text-align:center;
    margin-bottom:50px;
}

.avatar img 
{
    height: 100px;
    width:100px;
    border-radius:20px;
    text-align:center;
}

.user-name
{
    font-size:0.9em;
    color:#777;
    margin-top:8px;
    text-align: center;
    padding:13px;
}

.feed-user-name {
    font-size:0.9em;
    color:#777;
}

.offset-avatar{
    left:700px;
}

.curation-title {
    font-size:0.5em;
    background:#2582fc;
    color:#fff;
    border-radius:7px;
    padding:7px;
}

.bg-overlay
{
    background:rgba(0,0,0,0.7);
    min-width:100%;
    min-height:100%;
    position: fixed;
    z-index: -5;
    opacity:0.8;
}

.bg
{
    position: absolute;
    z-index: -9;
    width:100%;
    height:100%;
    background: #000;
    opacity:0.4;
}

.title
{
    font-size:0.8em;
    color:#555;
}

.date
{
    margin:0;
    font-size:20;
    font-style:italic;
    color:#777;
    text-decoration: underline;
}

.wrapper {
    margin-top:70px;
    background:rgba(255,255,255,0.5);
    border-radius:9px;
}

.interest-input
{
    border-radius:11px;
    background:(255,255,255,0.7);
    padding:10px;
    height:70px;
}

.breadcrumbs li a{
    color:#fff;
}

.close-button
{
    margin-bottom:30px;
}

.btn-dark{
    border:none;
}

.user-panel
{
    background:rgba(255,255,255,0.8);
    padding:7px;
    position: sticky;
    border-bottom-left-radius:8px;
    border-bottom-right-radius:8px;
}

.bio{
    font-size:17px;
    padding:7px;
}

.panel {
    background:rgba(255,255,255,0.6);
    padding:20px;
    border-radius:4px;
    box-shadow:1px 1px 3px rgba(0,0,0,0.2);
}

.post-body{
    background:linear-gradient(to top, rgba(255,255,255,1), rgba(255,255,255,0.6));
    border-radius:7px;
    padding:10px;
}

.name{
    color:#333;
    font-size:18px;
}

.header
{
    border:none;
    padding:15px;
    background:rgba(0,0,0,0.5);
    color:#fff;
    padding:10px;
}